<p-drawer
  [visible]="true"
  [modal]="false"
  [dismissible]="false"
  [closeOnEscape]="false"
  [closable]="false"
  [showCloseIcon]="false"
  position="left"
  styleClass="app-sidebar"
>
  <ng-template pTemplate="header">
    <img class="sidebar-logo" src="logo.svg" alt="Pyxis" />
  </ng-template>

  <p-menu [model]="menuModel" [popup]="false" styleClass="sidebar-menu" />

  <ng-template pTemplate="footer">
    <div class="sidebar-user">
      <div class="sidebar-user-avatar">{{ userInitial }}</div>
      <div class="sidebar-user-info">
        <span class="sidebar-user-name">{{ currentUser.name }}</span>
        <span class="sidebar-user-role">{{ roleLabel }}</span>
      </div>
    </div>
  </ng-template>
</p-drawer>
